@model _2_Laboras.ViewModels.AsistentasEditViewModel


@{
    ViewBag.Title = "Asistento šalinimas";
}

<h2>Asistento šalinimas</h2>

<h3>Ar tikrai norite pašalinti šį asistentą?</h3>
<div>
    <h4>Asistentas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vardas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vardas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pavarde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pavarde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tautybe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tautybe)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Šalinti" class="btn btn-danger" />     
            @Html.ActionLink("Atgal į sąrašą >>", "Index", "Asistentas", new { @class="btn btn-default"})
        </div>
    }
</div>
