@model IEnumerable<_2_Laboras.ViewModels.AsistenasViewModel>

@{
    ViewBag.Title = "Asistentai";
}

    <h2>Asistentai</h2>

<p>
    @Html.ActionLink("Naujas asistentas", "Create", "Asistentas", new { @class="btn btn-success"})
</p>
<table class="table">
    <thead>
        <tr style="background-color: lightblue; ">
            <th>
                @Html.DisplayNameFor(model => model.Vardas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pavarde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tautybe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Treneris)
            </th>
            <th style="width: 18%"></th>
        </tr>
    </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Vardas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pavarde)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tautybe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Treneris)
                </td>
                <td>
                    @Html.ActionLink("Redaguoti", "Edit", new { id = item.id }, new { @class = "btn btn-primary action" })
                    @Html.ActionLink("Šalinti", "Delete", new { id = item.id }, new { @class = "btn btn-danger action" })
                </td>
            </tr>
        }

</table>
